.selectedPage {
    font-weight: bold;
}

.paginator {
    margin: 10px;
}

.pageNumber {
    border-radius: 5px;
    padding: 8px;
    background-color: rgb(151, 151, 163);
    color: white;
    font-weight: bold;
    border: 1px solid white;
}

button {
    border-radius: 5px;
    padding: 8px;
    padding-top: 13px;
    padding-bottom: 9px;
    background-color: rgb(151, 151, 163);
    color: white;
    font-weight: bold;
    border: 1px solid white;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}