.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    padding: 10px;
    color: white;
}

.messages {
    padding: 10px;
    color: black;
}

.messages .message {
    padding: 10px;
    color: black;
}

.dialogsForm {
    padding: 10px;
}

.dialogsButton {
    border-radius: 5px;
    padding: 8px;
    background-color: rgb(151, 151, 163);
    color: white;
    font-weight: bold;
    border: 1px solid white;
}

textarea {
    width: 400px;
    height: 150px;
}

  